*{
    margin: 0;
    
}
body{
    font-size:large;
    padding-left:5%;
    background-image: url("a.jpg");
}
#lewy{ 
    float: left;
    width: 65%;
    height:100%;
    padding-top: 40px;
    padding-left: 3%;
    padding-right: 5%;
    background-color:rgba(166, 213, 245,0.9) ;
}
#prawy{
    text-align: center;
    width: 25%;
    position: fixed;
   top: 0%;
    right: 5%;
   height: 100%;
    margin: 0 auto;
    background-color: rgb(221, 224, 180);
}
.zdjecie{
  
    float: center;
}
#cv{
    float: center;
    width:30% ;
    height:30% ;
    max-width: 100%;
 
}
h1{
    color: rgb(143, 133, 133);
}
.przedstawienie{
    background-color: antiquewhite;
}
div>img#cv{
    transition: transform .5s ease-in-out;
}
div>img#cv:hover{
    transform: scale(0.8, 0.8);
}
p{
    padding-top: 2px;
}
h2{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    font-style: italic;
}
header{
    background-color: rgb(83, 100, 155);
    color:white;
    font-size:xx-large;
    text-align: center;
    font-style:normal;
    padding:2%;
    width: 80%;
}